:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Open Sans", sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: "Open Sans", sans-serif;
}
.titulo span{
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {

}

.navegacion-principal a{
    background-color: var(--primario);
}